a(href="#").caption.caption_link.caption_small.caption_icon.caption_icon_headphone
	.caption__gray-border
	h3.caption__heading Бесплатный <br>пробный урок<br> по скайпу
	p.caption__slogan Запишитесь и оцените<br> как это просто
	.link.link_white Записаться
	.gray-image.gray-image_comp