.header
	.header__white
		.header__wrapper
			.logo
				a(href="/").logo__item Enjoy English
				p.logo__slogan Изучение английского языка по скайпу
			
			a(href="#").sandwich-btn
				.sandwich-btn__line
				.sandwich-btn__line
				.sandwich-btn__line
		
		.menu
			nav.menu__wrapper
				ul.menu__items
					li.menu__item.menu__item_icon.menu__item_icon_hat
						a(href="#").menu__link Дистанционное изучение английского языка  
					li.menu__item.menu__item_icon.menu__item_icon_corp
						a(href="#").menu__link Корпоративное изучение английского
					li.menu__item.menu__item_icon.menu__item_icon_coffee
						a(href="#").menu__link Разговорный клуб английского языка в Москве
					li.menu__item.menu__item_icon.menu__item_icon_speak
						a(href="#").menu__link Английское произношение онлайн

				ul.menu__items.menu__items_second
					li.menu__item.menu__item_icon.menu__item_icon_pen
						a(href="#").menu__link Грамматика
					li.menu__item.menu__item_icon.menu__item_icon_video
						a(href="#").menu__link Видеоуроки
					li.menu__item.menu__item_icon.menu__item_icon_topik
						a(href="#").menu__link Топик
					li.menu__item.menu__item_icon.menu__item_icon_crown
						a(href="#").menu__link Праздники в Англии
				ul.menu__items.menu__items_second
					li.menu__item.menu__item_icon.menu__item_icon_news
						a(href="#").menu__link Интересные новости
					li.menu__item.menu__item_icon.menu__item_icon_bag
						a(href="#").menu__link Деловой английский
					li.menu__item.menu__item_icon.menu__item_icon_book
						a(href="#").menu__link Разговорник английского языка онлайн
		
.header__img
	.container
		p.header-slogan Индивидуальный подход к изучению<br><b>английского языка</b>
		.yellow-circle.yellow-circle_small
		.yellow-circle.yellow-circle_small
		.yellow-circle.yellow-circle_small
		p.header-text Полезные статьи, видео-уроки <br>и персональные занятия с преподователем по скайпу
		a(href="#").link.link_orange Посмотреть видео о нас