.quote
	p.quote__text.
		«Изучайте английский язык с удовольствием. Только лишь <span>положительный настрой, 
		упорство и усидчивость помогут вам добиться результатов.</span>
	p.quote__text.
		Мы стараемся делать наши занятия весёлыми, интересными и главное эффективными!»
	p.quote__author.
		— Ирина Кузьмина
		<span>основательница школы «OK-lessons»</span>