.video
	h3.video__header Видео отзывы
	.video__photo 
		img(src="img/assets/avatar.jpg")
	.video__name Александра Тимошенко
	.video__date 15 декабря 2015 г
	.video__wrapper
		img(src="img/assets/video.jpg")
	.clear
	.video__link
		a(href="#").link.link_gray Еще отзывы