.gray-image {
	position: relative;
	background: url('../img/gray.png') no-repeat;
	left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;
  transition: opacity 0.3s;

	&_comp {
		position: absolute;
		background-position: -506px -222px;
	  width: 144px;
	  height: 114px;
	}

	&_tower {
		background-position: 0px 0px;
	  max-width: 182px;
	  width: 105%;
	  height: 373px;
	  margin: 70px 0 0 0;
	  		
		@media screen and (max-width:960px) {
			left:-10px;
		}	

	  @media screen and (max-width:780px) {
	  	display: none;
	  }
	}

	&_mail {
		position: absolute;
		background-position: -998px -181px;
	  width: 98px;
	  height: 101px;
	}

	&_car {
		position: absolute;
		background-position: -190px -378px;
	  width: 242px;
	  height: 144px;

	  right: 10%;
	  left: auto;
	  bottom: -80%;

	  @media screen and (max-width:780px) {
	  	bottom: 0;
	  	right: 0;
	  }
	}

	&_hand {
		
		background-position: -333px 0px;
	  width: 168px;
	  height: 253px;
	  margin: 0;

	  @media screen and (max-width:780px) {
	  	position: absolute;
	  	bottom: 0;
	  	right: 0;
	  	left: auto;
	  }
	}
}