@font-face {
    font-family: 'KievitPro';
    src: local('☺'),
        url('../fonts/KievitPro-Light.eot') format('eot'),
        url('../fonts/KievitPro-Light.woff2') format('woff2'),
        url('../fonts/KievitPro-Light.woff') format('woff'),
        url('../fonts/KievitPro-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'KievitPro';
    src: local('☺'),
        url('../fonts/KievitPro-LightItalic.eot') format('eot'),
        url('../fonts/KievitPro-LightItalic.woff2') format('woff2'),
        url('../fonts/KievitPro-LightItalic.woff') format('woff'),
        url('../fonts/KievitPro-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'KievitPro';
    src: local('☺'),
        url('../fonts/KievitPro-Regular.eot') format('eot'),
        url('../fonts/KievitPro-Regular.woff2') format('woff2'),
        url('../fonts/KievitPro-Regular.woff') format('woff'),
        url('../fonts/KievitPro-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'KievitPro';
    src: local('☺'),
        url('../fonts/KievitPro-Italic.eot') format('eot'),
        url('../fonts/KievitPro-Italic.woff2') format('woff2'),
        url('../fonts/KievitPro-Italic.woff') format('woff'),
        url('../fonts/KievitPro-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'KievitPro';
    src: local('☺'),
        url('../fonts/KievitPro-Medium.eot') format('eot'),
        url('../fonts/KievitPro-Medium.woff2') format('woff2'),
        url('../fonts/KievitPro-Medium.woff') format('woff'),
        url('../fonts/KievitPro-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'KievitPro';
    src: local('☺'),
        url('../fonts/KievitPro-MediumItalic.eot') format('eot'),
        url('../fonts/KievitPro-MediumItalic.woff2') format('woff2'),
        url('../fonts/KievitPro-MediumItalic.woff') format('woff'),
        url('../fonts/KievitPro-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'KievitPro';
    src: local('☺'),
        url('../fonts/KievitPro-Bold.eot') format('eot'),
        url('../fonts/KievitPro-Bold.woff2') format('woff2'),
        url('../fonts/KievitPro-Bold.woff') format('woff'),
        url('../fonts/KievitPro-Bold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'KievitProBlack';
    src: local('☺'),
        url('../fonts/KievitPro-BlackItalic.eot') format('eot'),
        url('../fonts/KievitPro-BlackItalic.woff2') format('woff2'),
        url('../fonts/KievitPro-BlackItalic.woff') format('woff'),
        url('../fonts/KievitPro-BlackItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'PTSerifPro';
    src: local('☺'),
        url('../fonts/PTSerifPro-Regular.eot') format('eot'),
        url('../fonts/PTSerifPro-Regular.woff2') format('woff2'),
        url('../fonts/PTSerifPro-Regular.woff') format('woff'),
        url('../fonts/PTSerifPro-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'PTSerifPro';
    src: local('☺'),
        url('../fonts/PTSerifPro-Bold.eot') format('eot'),
        url('../fonts/PTSerifPro-Bold.woff2') format('woff2'),
        url('../fonts/PTSerifPro-Bold.woff') format('woff'),
        url('../fonts/PTSerifPro-Bold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}