/* Fonts */
$font: KievitPro, 'Myriad Pro', Arial, sans-serif;
$fontBlack: KievitProBlack, 'Myriad Pro', Arial, sans-serif;
$fontSerif: PTSerifPro, Arial, sans-serif;

/* Colors */
$yellow: 	#e3cb78;
$yellow2: #dcc355;
$black: #010101;
$gray: #4e4e4e;
$light-gray: #dedede;

$max-width: 960px;